extends layout
block append content
	h2
		|Hardware
	hr
	each project in hardware
		.col-xs-12.col-md-4.text-center
			div(style="margin-bottom:20px")
				a(href='/hardware/#{project.key}')
					img(src="/public/img/#{project.key}/thumb.jpg" style ="object-fit:cover; object-position: center; height: 225px; width: 300px;").img-thumbnail
					br
					b #{project.title}
					br