doctype html
html
  head
    title Dr. Bruce Jones
    block head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css")
    link(rel="stylesheet",href="public/css/academicons.css")
    link(rel="stylesheet",href="public/css/dockerawesome.css")
    link(rel="stylesheet",href="public/css/drbdjones.css")
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .jumbotron(style="background:#2C3E50 !important")
        .container
            .navbar.navbar-default.navbar-static
                .container-fluid
                    .navbar-header
                        button(data-toggle="collapse" data-target=".navbar-collapse").navbar-toggle.collapsed
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(href="/").navbar-brand
                            |Dr. Bruce Jones
                    div(id="navbar").navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li(style="display: inline-flex !important;")
                                each soc in social
                                    a(style="padding-left:3px;padding-right:3px;",href="#{soc.url}",target="_blank")
                                        i(class="#{soc.fa}")
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(style="padding-left:3px;",href="/resume")
                                    |Resume
                            li
                                a(style="padding-left:3px;",href="/publications")
                                    |Publications
                            li
                                a(style="padding-left:3px;",href="/hardware")
                                    |Hardware
                            li
                                a(style="padding-left:3px;",href="/software")
                                    |Software
  .container
    #content
      block content
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymous")