body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

hr {
	height: 1px;
	background-color:#2C3E50; 
	margin-top: 40px; 
	margin-bottom: 20px; 
	width: 100%;
}

.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}
.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
  top:3px;
  font-size:80%
}
.chevron-right li:before {
 content: '\e080';
}